$fa-font-path: "../fontawesome/fonts";
@import '../../vendor/fontawesome/scss/font-awesome';


@import "../../vendor/bourbon/dist/bourbon";
@import "../../vendor/neat/app/assets/stylesheets/neat";

$max-width:1900px;
html, body {
  margin: 20px;
}

.tutWrapper {
  position: relative;
  border: 10px red solid;
}

#tutorial {
  position: absolute;
  left: 0px;
  top: 0px;
}
.success{
  background: #94d797;
  border: 5px solid #628e64;
  display:inline-block;
  padding:5px;
  font-size:32px;
  border-radius:10px;
  color:white;
  text-shadow:2px 2px 1px black;
  -webkit-animation: fadeout 5s normal;
  opacity:0;
}
.error{
  background: #d77b77;
  border: 5px solid #9b4f4e;
  display:inline-block;
  padding:5px;
  font-size:32px;
  border-radius:10px;
  color:white;
  text-shadow:2px 2px 1px black;
}
@-webkit-keyframes fadeout {
  0%{
    opacity:1.0;
  }

  100%{
    opacity:0.0;
  }
}
li {
  list-style: none;
}
li span{
  width:14em;
  display:inline-block;
  text-align: right;
  margin-right:15px;
}
#terrainWrapper{
  position:relative;
}
.terrain{
  -webkit-user-select: none;
  user-select:none;
  pointer-events:none;
  background:white;
  font-weight:bold;font-size:13px;position:absolute;
}

.beige{
  font-family:serif;
  color:beige;
}

.purple{

}
.orange{
  color:orange;
}
.red{
  color:red;
}
.black{
  color:black;
}
.brown{
  color:brown;
}
.blue{
  color:blue;
}
.green{
  color:green;
}
.purple{
  color:purple;
}

#hexHeader{
  @include outer-container;
  .hexHeaderLeft{
    @include span-columns(3);
  }
  .hexHeaderRight{
    @include span-columns(9);
  }
}
.fa-spinner{
  font-size:32px;
}
a{
  color:#333 !important;
}
a:hover{
  text-decoration: underline  ;
  background: #eee;
}