html, body {
  margin: 20px;
}

.tutWrapper {
    position: relative;
    border: 10px red solid;
}

#tutorial {
    position: absolute;
    left: 0px;
    top: 0px;
}

li {
    list-style: none;
}
li span{
    width:9em;
    display:inline-block;
    text-align: right;
    margin-right:15px;
}
#terrainWrapper{
    position:relative;
}
.terrain{
    -webkit-user-select: none;
    user-select:none;
    pointer-events:none;
    background:white;
    font-weight:bold;font-size:13px;position:absolute;
}