<div>
<h1>Type "Yes" without the quotes, but with the capitol Y to really delete.</h1>
    {{input type="text" valueBinding="reallyReallyDelete"}}

    or

    {{#link-to 'map.index'}}Cancel{{/link-to}}

</div>