<div class="tutWrapper">

    <img class="mapImage" {{bind-attr src="mapUrl" }} {{bind-attr style="mapWidth"}}>
    <canvas id="tutorial" {{bind-attr src="coNam" width="imageWidth" height="controller.imageHeight"}}></canvas>

</div>